@import "../../variables";

#first-block>div {
  margin-top: 225px;
}

#web-design-company {
  color: $lightgreen;
  font-size: 22px;
  font-weight: 600;
}

#first-block h1 {
  font-weight: 700;
  font-size: 100px;
  width: 650px;
  color: $black_2B;
}

#left {
  font-family: 'Gilroy', system-ui;
}

#description, #description_2 {
  font-weight: 400;
  font-size: 18px;
}

#description {
  width: 541px;
  color: $black_2B;
}

#get-started {
  background-color: $lightgreen;
  color: white;
  border-radius: 70px;
  width: 287px;
  height: 77px;
  margin-bottom: 100px;
  margin-top: 65px;
  cursor: pointer;
}

#get-started div {
  background-color: $lightgreen;
  opacity: .2;
  filter: blur(15px);
  border-radius: 70px;
  width: 267px;
  height: 77px;
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
}

#get-started:hover div {
  display: none;
}

#get-started p {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 22px;
}

#main-page b {
  font-weight: 600;
  font-size: 20px;
  color: $black_2B;
}

.contact {
  font-weight: 400;
  font-size: 20px;
  color: $black_2B;
}

#second-block {
  color: $black_27;
  background-color: $white_fb;
  margin-top: 240px;
}

#description_2 {
  width: 360px;
  margin-top: 38px;
  margin-bottom: 70px;
}

#second-block h2 {
  font-weight: 700;
  font-size: 50px;
  width: 305px;
}

.button {
  width: 160px;
  height: 55px;
  border: 3px solid $lightgreen;
  border-radius: 70px;
  display: inline-block;
  text-align: center;
}

.button p {
  font-size: 18px;
  margin-top: 10px;
}

.more img {
  margin-left: 30px;
}

.more {
  cursor: pointer;
}

.more:hover img {
  margin-left: 50px;
}

.more:hover .button {
  background-color: $lightgreen;
}
